<div class="form-container">
    <br /><br />
    <form class="form">
        <div class="form-group">
            <h4>Account Created Successfully</h4>
        </div>
        <br /><br />
        <div class="form-group">
            <h5> Click <a asp-action="Login" asp-controller="Account" class="btn btn-primary">here</a> to login </h5>
        </div>
    </form>
</div>